

.group .errorMsg {
  color: #cc0033;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;
  width: 100%;
}
.errspan {
  margin-left: 10px;
  font-size: 25px;
  color: rgb(72, 101, 72);
 
 
  height: 30px;
}