<br><br>
<div class="container" >
<div class="card bg-light" >
<article class="card-body mx-auto" style="max-width: 800px;" >
	<h4 class="card-title mt-3 text-center">Create Your CV</h4>
	
<hr>
	<form  [formGroup]="form"  (ngSubmit)="submit()">

	<div class=" input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user errspan"></i> </span>
		  </div>
        <input formControlName="firstname"  [class.is-invalid]="getFirstName?.invalid && getFirstName?.touched" class="form-control" placeholder="First name" type="text">
      </div> 
    <div *ngIf="getFirstName?.invalid && getFirstName?.touched">
      <div class="text-danger ">First name is required</div>
    </div> <br>


    <div class="input-group">
      <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user errspan"></i> </span>
       </div>
          <input formControlName="lastname" [class.is-invalid]="getLastName?.invalid && getLastName?.touched" class="form-control" placeholder="Last name" type="text">
      </div>
      <div *ngIf="getLastName?.invalid && getLastName?.touched">
        <div class="text-danger">Last name is required</div>
      </div> <br>

   <div formGroupName="userContactInfo">
<div>
    <h5 >Contact Info</h5>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-home errspan"></i> </span>
    </div>
        <input formControlName="adress" [class.is-invalid]="getAddress?.invalid && getAddress?.touched" class="form-control" placeholder="Address" type="adress">
    </div> 
      <div *ngIf="getAddress?.invalid && getAddress?.touched" class="text-danger">Adress is required</div>
    </div><br>

    <div class="input-group ">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope errspan"></i> </span>
		 </div>
        <input formControlName="email" [class.is-invalid]="getEmail?.invalid && getEmail?.touched" class="form-control" placeholder="Email address" type="email">
    </div> 
    <ng-container *ngIf="getEmail?.invalid && getEmail?.touched">
      <div *ngIf="getEmail!.errors?.['required']" class="text-danger">Email is required</div>
      <div *ngIf="getEmail!.errors?.['email']" class="text-danger">Email form isn't correct</div>
    </ng-container><br>
   
    <div class="input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-phone errspan"></i> </span>
		</div>
    	<input formControlName="phone" [class.is-invalid]="getPhone?.invalid && getPhone?.touched"  class="form-control" placeholder="Phone number" type="text">
    </div> 
  </div>
  <div *ngIf="getPhone?.invalid && getPhone?.touched">
    <div *ngIf="getPhone!.errors?.['required']" class="text-danger">Phone is required</div>
    <div *ngIf="getPhone!.errors?.['pattern']" class="text-danger">Phone form isn't correct</div>
  </div><br>
  



<div formArrayName="experience">  
  <h5>Experiences</h5>
  <ng-container *ngFor="let experience of experiences.controls, let i = index">
    <div [formGroupName]="i" class="form-group input-group">
     <span class="input-group-text"> <i class="fa fa-building errspan"></i> </span>
     <div>
        <input  formControlName="company" [class.is-invalid]="experience.get('company')?.invalid && experience.get('company')?.touched" name="" class="form-control" placeholder="Company" type="text">
    <div *ngIf="experience.get('company')!.errors?.['required']&& experience.get('company')?.touched" class="text-danger">Company is required</div>
  </div>
    <div >
  <input formControlName="years" [class.is-invalid]="experience.get('years')?.invalid && experience.get('years')?.touched" class="form-control errorMsg" placeholder="Years"  type="text">
      <div  *ngIf="experience.get('years')!.errors?.['required']&& experience.get('years')?.touched" class="text-danger ">Year is required</div>
      <div *ngIf="experience.get('years')!.errors?.['pattern'] && experience.get('years')?.touched" class="text-danger ">Year should be contain 4 digits </div>
  </div>
    <button class="btn btn-danger" (click)="deleteExperience(i)">Delete</button>
	</div>  
</ng-container>






<div type="submit" class="btn btn-success btn-block form-group" (click)="addExperience()">Add Experiences</div>
</div>
<div formGroupName="resource">
  <h5>Resources</h5>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"> <i class="fab fa-github errspan"></i> </span>
  </div>
      <input formControlName="github" [class.is-invalid]="getGithub?.invalid && getGithub?.touched"  class="form-control" placeholder="Github Profile link: https://github.com/[name]" type="github">
  </div>
  <div *ngIf="getGithub?.invalid && getGithub?.touched">
    <div *ngIf="getGithub!.errors?.['required']" class="text-danger">Github is required</div>
    <div *ngIf="getGithub!.errors?.['pattern']" class="text-danger">Github profile form isn't correct</div>
  </div> <br>
    


  <div class=" input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"> <i class="fab fa-linkedin-in errspan"></i> </span>
  </div>
      <input formControlName="linkedin" [class.is-invalid]="getLinkedin?.invalid && getLinkedin?.touched"  class="form-control" placeholder="linkedin link" type="linkedin">
  </div>  
  <div *ngIf="getLinkedin?.invalid && getLinkedin?.touched">
    <div *ngIf="getLinkedin!.errors?.['required']" class="text-danger">Linkedin is required</div>
    <div *ngIf="getLinkedin!.errors?.['pattern']" class="text-danger">Linkedin form isn't correct</div>
  </div>
</div><br>

  <div formArrayName="education">
    <h5>Education</h5>

  <ng-container *ngFor="let education of educations.controls, let i = index">
  <div [formGroupName]="i" class=" input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"> <i class= "fa fa-graduation-cap errspan" ></i> </span>
  </div>
      <input formControlName="education" 
             [class.is-invalid]="education.get('education')?.invalid && education.get('education')?.touched" 
             class="form-control" 
             placeholder="Education" 
             >
      <button class="btn btn-danger" (click)="deleteEducation(i)">Delete</button>
  </div> 
  <div *ngIf="education.get('education')?.invalid && education.get('education')?.touched">
    <div *ngIf="education.get('education')!.errors?.['required']" class="text-danger ">Education is required</div>
  </div> <br>
  
</ng-container>
<div type="submit" class="btn btn-success btn-block form-group" (click)="addEducation()">Add Educations</div>
</div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" > Create CV  </button>
    </div>  
 
</form>
<!-- {{form.value | json}}   -->
